/* body { 
    margin-bottom: 60px;
    height: 100%;
    background-image: url("/images/hypnotize.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    
} */

p { color: blue; 
    font-family: 'Roboto', sans-serif;  
    margin-top: 0;

}

.lead { color: black; 
        font-family: 'Roboto', sans-serif;
        padding: 0;
  }


h2, h4 { font-family: 'Roboto', sans-serif;
   margin-top: 0;   
    color: whitesmoke;
    font-weight: bold;

}

.crystalCollector { 
    width: 15%;
    background-color: #FF8000;
    padding: 2px;
    margin-bottom: 5px;
    text-align: center
           
}  

.instructions { 
    width: 35%;
    height: 250px;
    background-color:#0080FF;
    padding: 10px;
    margin-bottom: 5px;
}

.score { 
    width: 15%;
    height: 75px;
    background-color: #66B032;
    padding: 5px;
    margin-bottom: 10px;
    float: left;
   
          
}

.tally {
        width: 8%;
        height: 75px;
        padding: 5px;
        background-color: #FCCC1A;
        margin-bottom: 10px;
        float: left;
        margin-left: 10px; 
              
        
    } 

.images { 
    clear: both;
    overflow: auto;
    margin-right: 10px;

}

.totalScore { 
    margin-right: 85%;
    height: 25px;
    background-color: #66B032;
    padding: 5px;
    margin-bottom: 10px;
            }

.actualScore { 
    margin-right: 85%;
    height: 75px;
    background-color: #66B032;
    padding: 5px;
    margin-bottom: 10px;
}

/* Large devices (laptops/desktops, 980px and up) */
@media only screen and (max-width: 980px) { body 
    {background-color: light-blue; } }

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) { body { background-color: green;
} } 

/* Small devices (laptops/desktops, 640px and up) */
@media only screen and (max-width: 600px ) { body 
    {background-color: orchid; } }
